{% extends "layout.html" %}

{% block title %}
    Chatview
{% endblock %}

{% block main %}
<h1>Chatview</h1>


  <div class="container">
    <h3 > Hello <span id="greet"></span>  this is room {{chatnumber}}</h3>
  </div>



    <div class="container">

      <ul id="messages">
        <!-- {%for msg in messages%}
          <li> {{msg.date}} {{msg.time}}<br>{{msg.user}} : {{msg.text}} </li>
          {%endfor%} -->
      </ul>
    </div>

    <div class="container">
      <h5>Write a message:</h5>

        <div class="form-group">
          <input type="text" class="form-control" id="message" name="message" placeholder="">
        </div>

        <div class="form-group">
          <button id ="msgButton" type="button" class="btn btn-primary">Send message</button>
        </div>

      </div>


<script>

  if(performance.navigation.type == 2){
   location.reload(true);
}

  // Display   username
  document.addEventListener('DOMContentLoaded', () => {
    var username= localStorage.getItem('displayName')
      document.querySelector('#greet').innerHTML = username;
      //save chatroom as well

      localStorage.setItem('chatroom',{{chatnumber}})
      localStorage.setItem('loggedIn',1)

      //load messages


  });

  document.addEventListener('DOMContentLoaded', () => {
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    let chatnumber = {{chatnumber}}
    socket.emit("load request",{"chatnumber" : chatnumber });
    // When connected, configure button
    socket.on('connect', () => {

    //
      document.querySelector('#msgButton').onclick = () => {
          const newmessage = document.querySelector('#message').value;
          var today = new Date();
          var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
          var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

          socket.emit("send message", {"newmessage": newmessage, "username": localStorage.getItem('displayName'), "chatnumber": {{chatnumber}}, "date":date,"time": time });
          document.querySelector('#message').value = '';
        };
      });

    // When a new message is announced, add to the unordered list
    socket.on("new message", data => {

      // Create new item for chat list
      const li = document.createElement('li');

      displayMsg=data.date + " "+data.time + "<br>" + data.username+" : "+data.newmessage
      li.innerHTML=displayMsg;
      if (data.username==localStorage.getItem('displayName')){
        const button = document.createElement('button');
        button. innerHTML = "Delete";
        button.onclick = function(){
            socket.emit("delete message", {"id": data.id, "username": localStorage.getItem('displayName'), "chatnumber": {{chatnumber}} });
        }
        li.append(button)
      }

      // Add new item to chat list
      document.querySelector('#messages').append(li);
    });

    socket.on('load messages', data => {
      document.querySelector('#messages').innerHTML=""
      if(data.chatnumber == {{chatnumber}} ){
        messageArray=data.chatmessages;
        for(m of messageArray){
          const li = document.createElement('li');

          displayMsg=m.date + " "+m.time + "<br>" + m.user+" : "+m.text
          li.innerHTML=displayMsg;
          if (m.user==localStorage.getItem('displayName')){
            const button = document.createElement('button');
            button. innerHTML = "Delete";
            button.onclick = function(){

                socket.emit("delete message", {"id": m.id, "username": localStorage.getItem('displayName'), "chatnumber": {{chatnumber}} });
              }
            li.append(button)
          }

          // Add new item to chat list
          document.querySelector('#messages').append(li);

        }
      }

    });

  });
  </script>





{% endblock %}
