{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Home</h1>


  <!-- <form action="/login" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="password">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </form> -->
  <div class="container">
    <h3 > Hello <span id="greet"> </span> </h3>
  </div>

  <div class="container">
    <h5>Choose a chat:</h5>
    <ul id="chats">
      {%for chat in chats%}
        <li>{{chat}}</li>
        {%endfor%}
    </ul>
  </div>

  <div class="container">
    <h5>Or create a new chat:</h5>

      <div class="form-group">
        <input type="text" class="form-control" id="chatname" name="chatname" placeholder="New chat name">
      </div>

      <div class="form-group">
        <button id ="chatButton" type="button" class="btn btn-primary">Create chat</button>
      </div>

    </div>



  <script>
        // Get username from localstore or ask for one
        if (!localStorage.getItem('displayName'))
        {
            var name = window.prompt("Please enter your name");
            localStorage.setItem('displayName', name);
        }

        // Display   username
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#greet').innerHTML = localStorage.getItem('displayName');
        });
        document.addEventListener('DOMContentLoaded', () => {
          var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
          console.log("connection")
          // When connected, configure form
          socket.on('connect', () => {
            console.log(" after connection")
          // Each button should emit a "submit vote" event
            document.querySelector('#chatButton').onclick = () => {
                console.log("submision")
                const newchatname = document.querySelector('#chatname').value;
                console.log(newchatname)
                socket.emit("new chat petition", {"newchatname": newchatname});
                document.querySelector('#chatname').value = '';

            };
          });
          // When a new chat is announced, add to the unordered list
          socket.on("new chat", data => {
            console.log("received response")
            console.log("response: "+data.success)
            console.log((data.success)==false)
            if(data.success==false){
              alert("There is already a chat with that name. Try another name");
            }
            else {
              // Create new item for chat list
              const li = document.createElement('li');
              li.innerHTML = data.newChatName;

              // Add new item to chat list
              document.querySelector('#chats').append(li);

            }

          });
        });

          </script>




{% endblock %}
