{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Home</h1>


  <div class="container">
    <h3 > Hello <span id="greet"> </span> </h3>
    <a id="backlink"><a>
  </div>

  <div class="container">
    <h5>Choose a chat:</h5>
    <ul id="chats">
      {%for chat in chats%}
        <li>  <a href="/{{loop.index0}}">{{chat}}</a> </li>
        {%endfor%}
    </ul>
  </div>

  <div class="container">
    <h5>Or create a new chat:</h5>

      <div class="form-group">
        <input type="text" class="form-control" id="chatname" name="chatname" placeholder="New chat name">
      </div>

      <div class="form-group">
        <button id ="chatButton" type="button" class="btn btn-primary">Create chat</button>
      </div>

    </div>



  <script>

      //esto para q vaya bien el boton de atras o delante del browser.
      //si no no quedaba actualizado a los ultimos chats o mnsajes
      // solucion sacada de aqui https://stackoverflow.com/questions/43043113/how-to-force-reloading-a-page-when-using-browser-back-button
      // https://stackoverflow.com/questions/1195440/ajax-back-button-and-dom-updates/1195934#1195934 mas info
      if(performance.navigation.type == 2){
        location.reload(true);
      }
        // Get username from localstore or ask for one
        if (!localStorage.getItem('displayName'))
        {
            var name = window.prompt("Please enter your name");
            localStorage.setItem('displayName', name);
        }

        // Display   username
        document.addEventListener('DOMContentLoaded', () => {
          if(localStorage.getItem('loggedIn')==1){

              let newpage = "/"+(localStorage.getItem('chatroom').toString())
              link= document.querySelector('#backlink');
              link.innerHTML = "Go to prevoius chat";
              link.href=newpage;
              //window.location.href = newpage;
          }
          

        });

        // Display   username
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#greet').innerHTML = localStorage.getItem('displayName');
        });
        document.addEventListener('DOMContentLoaded', () => {
          var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

          // When connected, configure form
          socket.on('connect', () => {

          // Each button should emit a "submit vote" event
            document.querySelector('#chatButton').onclick = () => {
                const newchatname = document.querySelector('#chatname').value;
                socket.emit("new chat petition", {"newchatname": newchatname});
                document.querySelector('#chatname').value = '';

            };
          });
          // When a new chat is announced, add to the unordered list
          socket.on("new chat", data => {

            if(!data.success){
              alert("There is already a chat with that name. Try another name");
            }
            else {
              // Create new item for chat list
              const li = document.createElement('li');
              //create link for as list element
              const a = document.createElement('a');
              a.innerHTML=data.newChatName;
              a.href = "/"+data.newIndex;

              //add link to list element
              li.appendChild(a);

              // Add new item to chat list
              document.querySelector('#chats').append(li);

            }

          });
        });

          </script>




{% endblock %}
