{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Home</h1>


  <!-- <form action="/login" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="password">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </form> -->
  <div class="container">
    <h3 > Hello <span id="greet"> </span> </h3>
  </div>

  <div class="container">
    <h5>Choose a chat:</h5>
    <ul id="chats">
      {%for chat in chats%}
        <li>{{chat}}</li>
        {%endfor%}
    </ul>
  </div>

  <div class="container">
    <h5>Or create a new chat:</h5>
    <form  id="newChatForm" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="chatname" name="chatname" placeholder="New chat name">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create chat</button>
      </div>
    </form>
  </div>



  <script>
              // Set starting value of counter to 0
              if (!localStorage.getItem('displayName'))
              {
                  var name = window.prompt("Please enter your name");
                  localStorage.setItem('displayName', name);
              }

              // Load current value of  counter
              document.addEventListener('DOMContentLoaded', () => {
                  document.querySelector('#greet').innerHTML = localStorage.getItem('displayName');
              });

              document.addEventListener('DOMContentLoaded', () => {
                  document.querySelector('#newChatForm').onsubmit = ()=>{
                    const req = new XMLHttpRequest();
                    const chatname=document.querySelector('#chatname').value;
                    req.open('POST', '/newchat');

                    // Callback function for when request completes
                    req.onload = () => {

                      // Extract JSON data from request
                    const data = JSON.parse(req.responseText);

                    // Update the result div
                    if (data.success) {

                      //const contents = `Name of new chat ${chatname}.`
                      //document.querySelector('#chats').innerHTML = contents;
                      // Create new item for list
                      const li = document.createElement('li');
                      li.innerHTML = chatname;

                      // Add new item to task list
                      document.querySelector('#chats').append(li);

                      // Clear input field
                      document.querySelector('#chatname').value = '';

                      // Stop form from submitting
                      return false;
                    }
                    else {
                      alert("There is already a chat with that name. Try another name");
                      document.querySelector('#chatname').value = '';
                      //document.querySelector('#chats').innerHTML = 'There was an error.';
                    }
                  }
                  // Add data to send with request
                  const data = new FormData();
                  data.append('chatname', chatname);


                  // Send request
                  req.send(data);
                  return false;

                  }
              });

            
          </script>




{% endblock %}
